---
layout: blog
style: page blog
description: Blog posts
---

{% for post in site.posts %}
<div class="blog-snippet">
 <h3>{{ post.title }}</h3>
 <small>{{ post.date | date: "%B %d, %Y" }}</small>
 {% for photo in post.portfolio %}
  {% if forloop.first %}
   <p class="blog-photo"><img src="/{{ photo.photo | replace:' ','%20' }}" alt="{{ photo.caption }}" draggable="false"/></p>
  {% endif %}
 {% endfor %}

 {{ post.content }}

 {% for photo in post.portfolio %}
  {% unless forloop.first %}
   <p class="blog-photo"><img src="/{{ photo.photo | replace:' ','%20' }}" alt="{{ photo.caption }}" draggable="false"/></p>
  {% endunless %}
 {% endfor %}
</div>
{% endfor %}
