---
layout: redesign
id: blog
title: Blog
description: Blog posts
---
{% include nav.html %}

<header><img src="/style/images/logo.svg" alt="Belinda Terrisse Portrait photography" /><h1>Blog</h1></header>

{% for post in site.posts %}
{% assign photo = post.portfolio | first %}
<article class="blog page">
 <h2>{{ post.title }}</h2>
 <small>{{ post.date | date: "%d-%m-%Y" }}</small>
 {{ post.content }}

 {% for photo in post.portfolio %}
 <p class="blog-photo"><img src="/{{ photo.photo | replace:' ','%20' }}" alt="{{ photo.caption }}" draggable="false"/></p>
 {% endfor %}

</article>
{% unless forloop.last %}<hr/>{% endunless %}
{% endfor %}
