---
---
{% include head.html %}

<article class="blog">
<img src="portfolio/belin.jpg" style="width: 300px; float: right; margin-right: 2em" alt="Dit ben ik"/>
<h2>Over mij</h2>
<p>Hoi! Ik ben Belinda. Sinds enkele jaren ben ik zeer actief met fotografie.</p>

<div class="vcard">
    <div class="fn org">Capture the Moment by Belin</div>
    <div>Telefoon: <span class="tel">06-1375 9292</span></div>
    <div>E-mail: <a href="mailto:cmbybelin@gmail.com" class="email">cmbybelin@gmail.com</a></div>
</div>

<p>Mocht je meer willen weten, laat dan een berichtje achter:</p>

<form action="https://getsimpleform.com/messages?form_api_token=84cf3f47b43b7b5a616bd93710510116" method="post">
  <!-- the redirect_to is optional, the form will redirect to the referrer on submission -->
  <input type='hidden' name='redirect_to' value='http://cmbybelin.com/contact-thanks.html' />

  <label for="f_name">Naam:</label>
  <input id="f_name" type="text" name="name" size="40" required/>
  <label for="f_email">E-mail:</label>
  <input id="f_email" type="email" name="email" size="40" required/>
  <label for="f_message">Bericht:</label>
  <textarea id="f_message" name="message" cols="38" rows="12" required></textarea>

  <input type='submit' value='Verzend' />
</form>

</article>
{% include tail.html %}
