---
title: Capture the Moment by Belin
excerpt: Fotografie, De kunst om het juiste moment vast te leggen, een gevoel over te brengen en mensen te intrigreren.
---
{% include head.html %}

 <article>

 <div class="teaser">
  <a class="img" href="/portfolio/reis-ijsland.html"><img src="portfolio/fotoreizen/IJsland%206.jpg" alt="IJsland"/></a>
  <div class="teaser-sidebar">
   <span class="newborn">New Born</span>
   <a href="/portfolio/portret.html" class="portrait">Portrait</a>
   <a href="/portfolio/reis-ijsland.html" class="travel">Travel</a>
   <a href="/portfolio/florafauna.html" class="landscape">Landscape</a>
   <a href="/portfolio/detail.html" class="details">Details</a>
   <span class="family">Family</span>
  </div>
 </div>
 <div class="signature">
 by Belin
 </div>
</article>

{% include tail.html %}
