---
title: Capture the Moment by Belin
---
{% include head.html %}

 <article>

 <div class="teaser">
  <img class="img" src="portfolio/fotoreizen/IJsland 6.jpg" alt=""/>
  <div class="sidebar">
   <span class="other">bekijk mijn portfolio:</span>
   <span class="newborn">New Born</span>
   <a href="portret.html" class="portrait">Portrait</a>
   <a href="reis-ijsland.html" class="travel">Travel</a>
   <a href="florafauna.html" class="landscape">Landscape</a>
   <a href="detail.html" class="details">Details</a>
   <span class="family">Family</span>
  </div>
 </div>
 <div class="signature">
 by Belin
 </div>
</article>

{% include tail.html %}
