/*
color scheme:
 background: #FFFFFF
 title: 
 text: #5C5750
 accent/hover: #5B8AB2
*/

@import url(https://fonts.googleapis.com/css?family=Josefin+Sans:300,400);
@import url(https://fonts.googleapis.com/css?family=Halant:400,500,600);

body {
 background: white;
 color: #5C5750;
 font-size: 15px;
 font-family: 'Josefin Sans', Arial, sans-serif;
 line-height: 1.3em;
 padding: 0;
}
header, nav, article {
 max-width: 1280px;
 margin: 0 auto 8px;
}
header h2 {
 display: inline;
 margin-left: 2em;
 vertical-align: bottom;
}
article {
 clear: both;
}
article.page {
 max-width: 800px;
}

h1 {
 display: block;
 white-space: nowrap;
 margin: 0;
 color: #CCC4D1;
 padding-left: 12px;
 font-size: 35px;
 font-weight: normal;
 line-height: 61px;
 font-family: 'Halant', serif;
}
h1 a, h1 a:hover, h1 a:visited, h1 a:active {
 color: #CCC4D1;
}
h2 {
 text-align: center;
 font-family: 'Halant', serif;
 font-size: 18px;
 font-weight: normal;
 margin: 0;
}

.logo {
 display: block;
 width: 180px;
 margin: 20px auto;
}
nav {
 color: #7D6F85;
 letter-spacing: .6pt;
 text-align: center;
 font-weight: thin;
}

nav ul {
 padding: 0;
 margin: 0;
}

nav ul li {
 display: inline-block;
 font-size: 16px;
 white-space: nowrap;
 padding: 8px 8px 4px 8px;
 margin: 0;
 border-bottom: 1px solid #7D6F85;
 min-width: 70px;
}

nav ul li.active {
 border-bottom-width: 2.5px;
}

a, a:visited, a:active {
 text-decoration: none;
 color: #7D6F85;
}

a:hover {
 color: #000;
}

img {
 border: 1px solid #aaa;
 padding: 4px;
 user-select: none;
 -moz-user-select: none;
 -webkit-user-select: none;
 -ms-user-select: none;
}

/* MENU */
.dropdown {
 cursor: pointer;
 border-top-left-radius: 2px;
 border-top-right-radius: 2px;
}
.dropdown-title.wide {
 display: none;
}
.dropdown.hover {
 background-color: #5C5750;
 color: #ddd;
}

.subnav {
 display: none;
 background-color: rgba(92, 87, 80, .8) /* #5C5750 */;
 padding: 0 12px 24px;
 margin: 4px 0 0 -8px;
 border-top-right-radius: 2px;
 border-bottom-left-radius: 12px;
 border-bottom-right-radius: 12px;
 position: absolute;
 min-width: 82px;
 z-index: 999;
}
.subnav li {
 display: block;
 margin: 0;
 padding: 0;
 text-align: left;
 font-size: smaller;
 border-bottom: 1px solid #ddd;
 width: auto;
}
.subnav li a {
 color: #ddd;
 display: block;
 padding-top: 16px;
}
.subnav li a:hover {
 color: #fff;
}


.dropdown.hover .subnav {
 display: block;
}


/* INDEX */
.teaser .slideshow {
 display: block;
 width: 100%;
 margin-bottom: 12px;
}
.teaser .slideshow img {
 display: block;
 width: 100%;
}

article a {
 text-decoration: underline;
}

/* PORTFOLIO */
.portfolio h2 {
 display: none;
}
.portfolio img {
 max-width: calc(100% - 10px);
 max-height: calc(100% - 10px);
}
.portfolio .photo {
 position: absolute;
 top: 194px;
 bottom: 8px;
 left: 0;
 right: 0;
}
.thumbnails {
 display: none;
}
.navigate {
 display: none;
}
.caroussel {
 position: absolute;
 display: block;
 top: 0;
 bottom: 0;
 left: 0;
 right: 0;
 background-size: contain;
 background-position: center;
 background-repeat: no-repeat;
 transition: visibility 0s ease 2s, opacity ease 2s;
 visibility: hidden;
 opacity: 0;
 text-align: center;
 margin: 0 auto;
}
.caroussel.selected {
 visibility: visible;
 opacity: 1;
 transition-delay: 0s;
}
.caption {
 position: absolute;
 bottom: 0;
 text-align: center;
 width: 100%;
 margin: 0;
 min-height: 30px;
 transition: opacity ease 1s;
 opacity: 0;
}
.caroussel.selected:hover .caption {
 opacity: 1;
}
.caroussel.selected span {
 background: rgba(0,0,0,0.6);
 color: #f8f8f8;
 padding: 4px 12px;
 border-radius: 2px;
}

/* BLOG */
.blog img {
 max-width: 95%;
}
.excerpt {
 border-top: 1px solid #aaa;
 padding-top: 12px;
 margin-bottom: 12px;
}
.excerpt:first-child {
 border: none;
}
.excerpt img {
 float: left;
 max-height: 200px;
 max-width: 200px;
 margin: 0 16px 0 0;
}
.excerpt:nth-child(even) img {
 float: right;
 margin: 0 0 0 16px;
}

.blog .photo {
 text-align: center;
}
/* CONTACT */
label, button {
 display: block;
 margin-top: 6px;
}
button, input, textarea {
 font-family: 'Josefin Sans', Arial, sans-serif;
 font-size: 15px;
 font-weight: 100;
}
input, textarea {
 border: 1px solid #aaa;
 background-color: white;
 padding: 4px;
}
button {
 background: rgb(192, 222, 255);
 border-radius: 2px;
 border: 1px solid #aaa;
 padding: 4px 8px 3px;
}
.me {
 width: 300px;
}

/* MISC */
.clearfix {
  clear: both;
}

@media (min-width: 440px) {
 .me {
  float: right;
  margin-right: 2em;
 }
}

@media (min-width: 600px) {
 .blog img {
  max-width: 600px;
  max-height: 600px;
 }
}

/* iPad and up: */
@media (min-width: 760px) {
 body {
  padding: 0 12px 36px;
 }
 nav ul li {
  width: 120px;
 }
 .subnav {
  min-width: 112px;
 }
 .thumbnails {
  display: block;
  position: absolute;
  bottom: 0px;
  height: 64px;
  left: 8px;
  width: calc(100% - 16px);
  text-align: center;
  white-space: nowrap;
  overflow-x: scroll;
 }
 .thumbnails img {
  height: 64px;
  width: auto;
  border: 1px solid transparent;
  padding: 0;
 }
 .thumbnails img.selected {
  border: 1px solid white;
 }
 .navigate {
  display: block;
  position: absolute;
  top: 216px;
  bottom: 72px;
  width: 30%;
  font-size: 400%;
  color: #CCC4D1;
  padding-top: 20%;
  cursor: pointer;
 }
 .navigate span {
  transition: opacity ease 0.38s;
  opacity: 0.3;
 }
 .navigate:hover span {
  opacity: 1;
 }
 .navigate.previous {
  left: 0;
  text-align: left;
  padding-left: 1em;
 }
 .navigate.next {
  right: 0;
  text-align: right;
  padding-right: 1em;
 }
 .dropdown-title.small {
  display: none;
 }
 .dropdown-title.wide {
  display: inline;
 }
 .portfolio h2 {
  display: block;
 }
 .portfolio .photo {
  top: 216px;
  bottom: 72px;
 }
}
@media (min-width: 830px) {
 .portfolio .photo {
  top: 216px;
 }
}
