/*
color scheme:
 background: #FCF2E1
 text: #5C5750
 accent/hover: #5B8AB2
*/

@font-face {
  font-family: "Josefin-Sans";
  font-style: normal;
  font-weight: normal;
  src: url("Josefin-Sans/JosefinSans-Regular.ttf") format("opentype");
}

body {
 background: #FFFFE9;
 color: #5C5750;
 font-size: 15px;
 font-family: Josefin-Sans, Arial;
 line-height: 1.2em;
}

nav {
 margin: 2em 0;
}

article {
 margin: 2em;
}

a, a:visited, a:active {
 text-decoration: none;
 color: #5C5750;
}

a:hover {
 color: #5B8AB2;
}

nav ul {
 padding: 0;
}

nav ul li {
 display: inline-block;
 width: 25%;
 text-align: center;
 font-size: 22px;
}

#etalage rect {
 stroke: #FFFFE9;
 stroke-width: .05;
}
#etalage text {
 font-size: .1px;
 fill: #FFFFE9;
}
#etalage a text {
 opacity: 0;
 -webkit-transition: opacity .5s ease-in-out;
 -o-transition: opacity .5s ease-in-out;
 transition: opacity .5s ease-in-out;
}
#etalage a:hover text {
 opacity: 1;
 //display: block;
}

h1 {
 text-align: center;
}

.thumbnails {
 position: absolute;
 top: calc(100% - 2em);
 height: 4em;
 left: 0;
 width: 100%;
 text-align: center;
 margin: -3em auto 0;
}
.thumbnails img {
 height: 4em;
 width: auto;
}

.caroussel {
 position: absolute;
 top: 7em;
 bottom: 6em;
 left: 0;
 width: 100%;
 background-size: contain;
 background-position: center;
 background-repeat: no-repeat;
 transition: opacity ease 2s;
 opacity: 0;
}
.caroussel.selected {
 opacity: 1;
}
 
