<div class="contact-thanks" id="thanks">
 <div class="contact-thanks-dialog">
  <div class="contact-thanks-dialog-content">
   <p lang="nl">Bedankt voor je bericht.</p>
   <p lang="nl">Ik neem zo snel mogelijk conatct met je op.</p>
   <p lang="en">Thank you for sending me a message.</p>
   <p lang="en">I'll get back to you as soon as possible.</p>
  </div>
  <p class="contact-thanks-dialog-button-bar">
   <a class="button" href="#contact" lang="nl">Sluiten</a>
   <a class="button" href="#contact" lang="en">Close</a>
  </p>
 </div>
</div>
