<div lang="nl"><!--

--><div class="contact-info">
<p>Mocht je meer willen weten, laat dan een berichtje achter:</p>

{% include vcard.html %}

</div><form class="contact-info" action="{{ site.email_post_url }}" method="post">
  <input type='hidden' name='redirect_to' value='{{ site.url }}/contact-thanks.html' />

  <label for="f_name">Naam:</label>
  <input id="f_name" type="text" name="name" required placeholder="Je naam"/>
  <label for="f_email">E-mail:</label>
  <input id="f_email" type="email" name="email" required placeholder="Je e-mail adres"/>
  <label for="f_message">Bericht:</label>
  <textarea id="f_message" name="message" rows="12" required placeholder="Type je bericht hier"></textarea>

  <button type='submit'>Verzend</button>
</form>

</div><div lang="en"><!--
--><div class="contact-info">
<p>If you want to learn more, please send me a message:</p>

{% include vcard.html %}
</div><!--
--><form class="contact-info" action="{{ site.email_post_url }}" method="post">
  <input type='hidden' name='redirect_to' value='{{ site.url }}/contact-thanks.html' />

  <label for="f_name">Name:</label>
  <input id="f_name" type="text" name="name" required placeholder="Your name"/>
  <label for="f_email">E-mail:</label>
  <input id="f_email" type="email" name="email" required placeholder="Your e-mail address"/>
  <label for="f_message">Message:</label>
  <textarea id="f_message" name="message" rows="12" required placeholder="Type your message here"></textarea>

  <button type='submit'>Send</button>
</form><!--
--></div>
