<div class="contact-thanks" id="thanks">
 <div class="contact-thanks-dialog">
  <h3 lang="nl">Je bericht is verzonden</h3>
  <h3 lang="en">Your message has been sent</h3>
  <div class="contact-thanks-dialog-content">
   <p lang="nl">Bedankt voor je bericht.</p>
   <p lang="nl">Ik neem zo snel mogelijk conatct met je op.</p>
   <p lang="en">Thank you for sending me a message.</p>
   <p lang="en">I'll get back to you as soon as possible.</p>
  </div>
  <div class="contact-thanks-dialog-button-bar">
   <p lang="nl"><a class="button" href="#contact">Sluiten</a></p>
   <p lang="en"><a class="button" href="#contact">Close</a></p>
  </div>
 </div>
</div>
