<footer class="info"><div><section>
  <h2><a href="/contact.html">Contact</a></h2>
  <p lang="nl">Je kan contact met me opnemen per telefoon, e-mail of laat een berichtje achter via het <a href="/contact.html">contact formulier</a>.</p>
  <p lang="en">You can contact me via phone or e-mail or leave a message using the <a href="/contact.html">contact form</a>.</p>

{% include vcard.html %}

 </section><section>
  <h2 lang="nl">Agenda</h2>
  <h2 lang="en">Upcoming</h2>
  <p>Stay tuned...</p>
 </section><section>
  <h2><a href="/blog.html">Blog</a></h2>
  {% assign post = site.posts.first %}
  {% assign photo = post.portfolio | first %}
  <p><a href="{{ post.url }}">
   {{ post.date | date: "%d-%m-%Y" }}: {{ post.title }}
  </a></p>
  {% if photo.photo %}<img src="/{{ photo.photo }}" alt="{{ photo.caption }}" draggable="false"/>{% endif %}
 </section></div></footer>
