<!doctype html>
<html lang="nl">
<head>
  <meta charset="utf-8">
  <meta name="description" content="{{ page.excerpt | remove: '<p>' | remove: '</p>' | strip_newlines }}">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Belinda Terrisse Portrait Photography</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
  <link rel="icon" type="image/png" href="favicon.png" />
  <link rel="stylesheet" href="/style/main.css">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <meta property="og:url" name="og:url" content="http://belindaterrisse.com/">
  <meta property="og:type" name="og:type" content="website">
  <meta property="og:title" name="og:title" content="Belinda Terrisse Portrait Photography">
  <meta property="og:site_name" name="og:site_name" content="Belinda Terrisse Portrait Photography">
  <meta property="og:image" name="og:image" content="http://belindaterrisse.com/style/images/sig.png">
</head>
<body>
 <header>
  <a href="/"><img src="/style/images/logo.svg" class="logo" alt="Belinda Terrisse Portrait photography" /></a>
  <nav>
   <ul>
    <li class="{% if page.id == 'home' %}active{% endif %}"><a href="/">Home</a></li><!--
    {% assign portfolio_ordered = site.portfolio | sort: 'order' %}
    {% for portfolio in portfolio_ordered %}
      --><li class="{% if page.portfolio_folder == portfolio.portfolio_folder %}active{% endif %}"><a href="{{ portfolio.url }}">{{ portfolio.excerpt }}</a></li><!--
    {% endfor %}
    - -><li class="{% if page.id == 'blog' or page.layout == 'blog' %}active{% endif %}"><a href="/blog.html">Blog</a></li><!- -
    - -><li class="{% if page.id == 'contact' %}active{% endif %}"><a href="/contact.html">Contact</a></li>
   --></ul>
  </nav>
 </header>

 <script>
  (function (document) {
    var $dropdowns = document.querySelectorAll('.dropdown');
    for (var i = 0; i < $dropdowns.length; i++) {
      $dropdowns[i].addEventListener('click', function (event) {
        event.stopPropagation();
        this.classList.toggle('hover');
      });
    };

    document.addEventListener('click', function () {
      var $dropdowns = document.querySelectorAll('.dropdown');
      for (var i = 0; i < $dropdowns.length; i++) {
        $dropdowns[i].classList.remove('hover');
      }
    });
  })(document);
 </script>
