<!doctype html>
<html lang="nl">
<head>
  <meta charset="utf-8">
  <meta name="description" content="{{ page.excerpt | remove: '<p>' | remove: '</p>' | strip_newlines }}">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Capture the Moment by Belin Photography</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
  <link rel="icon" type="image/png" href="favicon.png" />
  <link rel="stylesheet" href="/style/main.css">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
</head>
<body>
 <header>
  <a href="/">Capture the Moment</a>
  <div class="external-sites"><a href="https://www.facebook.com/cmbybelin"><i class="fa fa-facebook-official"></i></a></div>
 </header>
 <nav>
  <ul>
    <li><a href="/">Home</a></li>
    <li class="dropdown" aria-haspopup="true"><span class="dropdown-title">{% if include.portfolio_section %}{{ include.portfolio_section }}{% else %}Portfolio{% endif %}<span class="caret">&#9660;</span></span>
    <ul class="subnav">
{% for portfolio in site.portfolio %}
     <li><a href="{{ portfolio.url }}">{{ portfolio.excerpt }}</a></li>
{% endfor %}
    </ul></li>
    <li><a href="/blog.html">Blog</a></li>
    <li><a href="/contact.html">Contact</a></li>
  </ul>
 </nav>

 <script>
  (function (document) {
    var $dropdowns = document.querySelectorAll('.dropdown');
    for (var i = 0; i < $dropdowns.length; i++) {
      $dropdowns[i].addEventListener('click', function (event) {
        event.stopPropagation();
        this.classList.toggle('hover');
      });
    };

    document.addEventListener('click', function () {
      var $dropdowns = document.querySelectorAll('.dropdown');
      for (var i = 0; i < $dropdowns.length; i++) {
        $dropdowns[i].classList.remove('hover');
      }
    });
  })(document);
 </script>
