<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Capture the Moment by Belin Photography</title>
  <meta name="description" content="Belinda Terrisse Photography">
  <meta name="viewport" content="width=device-width">
  <meta name="description" content="Fotografie, De kunst om het juiste moment vast te leggen, een gevoel over te brengen en mensen te intrigreren.">

  <link rel="stylesheet" href="/style/main.css">
</head>
<body>
 <header>
  <a href="/">Capture the Moment</a>
 </header>
 <nav>
  <ul>
    <li><a href="/">Home</a></li>
    {% if include.portfolio_section %}
    <li class="dropdown" aria-haspopup="true"><span class="dropdown-title">{{ include.portfolio_section }}<span class="caret">&#9660;</span></span>
    <ul class="subnav">
     <li><a href="florafauna.html">Flora &amp; fauna</a></li>
     <li><a href="portret.html">Portret</a></li>
     <li><a href="detail.html">Detail</a></li>
     <li><a href="reis-ijsland.html">Fotoreis IJsland, maart 2015</a></li>
     <li><a href="reis-istanbul.html">Fotoreis Istanbul, november 2014</a></li>
    </ul></li>
    {% else %}
    <li><a href="/portfolio.html">Portfolio</a></li>
    {% endif %}
    <li><a href="/blog.html">Blog</a></li>
    <li><a href="/contact.html">Contact</a></li>
  </ul>
 </nav>

 <script>
  (function (document) {
    var $dropdowns = document.querySelectorAll('.dropdown');
    for (var i = 0; i < $dropdowns.length; i++) {
      $dropdowns[i].addEventListener('click', function (event) {
        event.stopPropagation();
        this.classList.toggle('hover');
      });
    };

    document.addEventListener('click', function () {
      var $dropdowns = document.querySelectorAll('.dropdown');
      for (var i = 0; i < $dropdowns.length; i++) {
        $dropdowns[i].classList.remove('hover');
      }
    });
  })(document);
 </script>
