<p class="vcard">
 <span class="fn org">Belinda Terrisse portrait photography</span><br/>
 <i class="fa fa-phone"></i>: <span class="tel">+31 (0)6-1375 9292</span><br/>
 <i class="fa fa-envelope"></i>: <a href="mailto:belindaterrisse@gmail.com" class="email">belindaterrisse@gmail.com</a><br/>
 <i class="fa fa-facebook"></i>: <a href="https://www.facebook.com/belinda.terrisse" class="facebook">facebook.com/belinda.terrisse</a><br/>
 <i class="fa fa-instagram"></i>: <a href="https://www.instagram.com/belindaterrisse" class="instagram">instagram.com/belindaterrisse</a>
</p>
