.blog {
  margin: 6em 1em 0;
  h1 {
    text-align: center;
  }
  h3 {
    //font-size: 20px;
    margin-bottom: 0;
  }
}

.blog-container {
  max-width: $screen-wide;
  margin: 0 auto;
}

.blog-content {
  max-width: 612px;
}

.blog-link {
  font-family: $serif;
  font-size: 125%;
  margin: 1em 0 0;
  a {
    padding: 0;
  }
}


.blog-sidebox {
  background-color: $white;
  padding: 3em;
  margin-bottom: 2em;
  &:last-child {
    margin-bottom: 0;
  }
  h4 {
    padding-bottom: 1em;
    border-bottom: 1px solid $black;
    margin: 0;
  }
  &.transparent {
    background-color: transparent;
  }

  button {
    width: 100%;
  }
}