.blog {
  margin: 7.4em 1em 0;
  h1 {
    text-align: center;
  }
  h3 {
    //font-size: 20px;
    margin-bottom: 0;
  }
}

.blog-container {
  max-width: 880px;
  margin: 10em auto 0;
}


.blog-link {
  font-family: $serif;
  font-size: 125%;
  margin: 1em 0 0;
  a {
    padding: 0;
  }
}


.blog-sidebox {
  background-color: $white;
  padding: 3em;
  margin-bottom: 2em;
  &:last-child {
    margin-bottom: 0;
  }
  h4 {
    padding-bottom: 1em;
    border-bottom: 1px solid $black;
    margin: 0;
  }
  &.transparent {
    background-color: transparent;
    padding-top: 0;
  }

  button {
    width: 100%;
  }
}

@media (min-width: 600px) {
  .blog-content {
    max-width: calc(100% - 32px - 256px);
    float: left;
    margin-top: -6.45em
  }
  .blog-sidebox {
    margin-left: calc(100% - 256px);
    min-width: 146px;
    margin-top: 5em;
  }
  .blog-sidebox + .blog-sidebox {
    margin-top: 0;
  }
}

@media (min-width: $screen-wide) {
  article.blog {
    margin-left: 4em;
    margin-right: 4em;
  }
  .blog-content {
    max-width: calc(100% - 64px - 256px);
  }
}