
a, a:visited, a:active, a:hover {
  text-decoration: none;
  color: inherit;
  letter-spacing: normal;
}

a {
  padding: $default-padding;

  &:active, &:hover {
    background-color: $cloud-grey;
    transition: background-color .2s ease;
    opacity: 0.8;
  }
}

article {
  a, a:visited, a:active, a:hover {
    border: 1px solid white;
  }
}
