footer {
  margin: 1.6em;

  .socialmedia {
    font-size: 160%;
    margin: 1em;
    text-align: center;
    letter-spacing: 0.55em;
    a {
      border-radius: 2px;
    }
  }

  .copyright {
    margin: 1em;
    text-align: center;
  }
}
