header {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  background-color: white;

  .logo {
    display: block;
    font-family: $serif;
    font-size: 28px;
    letter-spacing: 0.1em;
    margin: .8em 0;
    padding-left: $default-padding * 2;
  }
  .mobile-menu {
    float: right;
    font-size: 34px;
    font-family: $serif;
    @include no-user-select;
  }
  nav {
    .mobile-menu {
      margin: .8em 0;
      padding: 4px 12px;
    }
    ul {
      clear: both;
      list-style: none;
      text-align: center;
      line-height: 3em;
      padding: 0;
    }
    a {
      font-size: 120%;
    }
  }
}

nav.desktop {
  display: none;
}

@media (min-width: $screen-wide) {
  header {
    margin-left: 4em;
    margin-right: 4em;
    .logo {
      padding-left: 0;
    }
    .mobile-menu {
      display: none;
    }
    nav.desktop {
      display: block;
    }
    ul {
      float: right;
    }
    li {
      display: inline-block;
      text-align: right;
      padding-right: 36px;
      font-size: 90%;
      &:last-child {
        padding-right: 0;
      }
    }
    a {
      padding: 0;
    }
  }
}
@media (min-width: 1100px) {
  header {
    li {
      padding-right: 52px;
    }
  }
}


/** Mobile show/hide effect */
nav.mobile {
  @include full-screen;
  background-color: $cloud-grey;
  visibility: hidden;
  opacity: 0;
  perspective: 1200px;
  transition: opacity 0.5s, visibility 0s 0.5s;
  ul {
    opacity: 0.4;
    transform: translateY(-25%) rotateX(35deg);
    transition: transform 0.5s, opacity 0.5s;
  }
  &.visible {
    opacity: 0.96;
    visibility: visible;
    transition: opacity 0.5s ease;
  }
  &.visible ul {
    opacity: 1;
    transform: rotateX(0deg);
  }
  &.hidden ul {
    transform: translateY(25%) rotateX(-35deg);
  }
}
