article {
  margin-top: 4.5em;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;

  a {
    color: $black;
  }

  &.blog {
    h1 {
      text-align: center;
    }
  }

  &.page-index { /* Single page -- index */
    color: $white;
    text-align: center;
    padding-top: 10em;
    padding-bottom: 6em;
    min-height: 100vmax;
    box-sizing: border-box;
    h1 {
      letter-spacing: 0.1em;
      font-size: 34px;
      line-height: normal;
      margin: 0;
      padding: 0 1em;
    }
    p {
      letter-spacing: 0.55em;
    }
  }

  &.page-portfolio-overview {
    @include no-user-select;
    margin-top: 6em;
    text-align: center;
    box-sizing: border-box;
    h2 {
      margin: 0;
      padding-top: 2em;
      margin-bottom: 1em;
    }
  }

  &.page-portfolio-index {
    @include no-user-select;
    margin-top: 6em;
    h1 {
      text-align: center;
    }
  }

  .page-session {
    margin-bottom: 8px;
    background-color: $cloud-grey;
  }
}

.secondary {
  background-color: $cloud-grey;
  padding: $default-padding $default-padding * 2;
}

.half-wide {
  display: block;
  width: 100%;
  box-sizing: border-box;
}
.half-wide-1, .full-height {
  min-height: 320px;
  min-height: 100vw;
  background-size: cover;
}

@media (min-width: $screen-medium) {
  article.page-index {
    padding-top: 26em;
    h1 {
      font-size: 70px;
      letter-spacing: 0.1em;
      padding: 0;
    }
  }

  article.page-portfolio-overview {
    .portfolio-category {
      width: calc(33.33% - 5.3333px);
      float: left;
      margin-right: 8px;
      min-height: 90vh;
      background-position-x: 50%;
    }
    .portfolio-category:last-child {
      margin-right: 0;
    }
  }

  .half-wide {
    background-position-x: 50%;
    float: left;
    min-height: 720px;
    width: 50%;
  }
  .half-wide-dyn {
    background-position-x: 50%;
    box-sizing: border-box;
    float: left;
    width: 50%;
  }
}

@media (min-width: $screen-wide) {
  article {
    margin-left: 4em;
    margin-right: 4em;
  }
  .half-wide {
    min-height: 70vw;
  }

}

/* CONTACT */
button {
  display: block;
  margin-top: 6px;
}
button, input, textarea {
  font-family: $sans-serif;
  font-size: $default-font-size;
  //font-weight: 100;
  display: block;
  box-sizing: border-box;
}
input, textarea {
  width: 100%;
  border: 1px solid #aaa;
  background-color: $white;
  padding: 4px;
  margin: $default-padding 0;
}
.button, button {
  background: rgb(192, 222, 255);
  border-radius: 2px;
  border: 1px solid #aaa;
  padding: 4px 8px 3px;
}
