
{% include head.html %}

<body>

{% include header.html %}

<article class="blog">
 <div class="secondary">
  <div class="blog-container">
   <div class="blog-content">
    {{ content }}
   </div>
   <div class="blog-sidebox">
    <h4>Recent Posts</h4>
    {% for post in site.posts %}
    <p class="blog-link"><a>{{ post.title }}</a></p>
    <small>{{ post.date | date: "%B %d, %Y" }}</small>

    {% endfor %}
   </div>
   <div class="blog-sidebox">
    <h4>Stay Up-To-Date</h4>
    {% include mc-subscribe.html %}
   </div>
   <div class="blog-sidebox transparent">
    <h4>Search With Tags</h4>
    <p>Fotografie Noord-Holland New Born Portret Fashion Events Travel</p>
   </div>
  </div>
  <div style="clear: both"></div>
 </div>
</article>

{% include footer.html %}

<div class="contact-thanks" id="thanks">
 <div class="contact-thanks-dialog">
  <h3 lang="nl">Bedankt</h3>
  <h3 lang="en">Thank you</h3>
  <div class="contact-thanks-dialog-content">
   <p lang="nl">Bedankt voor je registratie.</p>
   <p lang="nl">Om het inschrijfproces te voltooien klik je op de link in de e-mail die we net naar je toe hebben gestuurd.</p>
   <p lang="en">Thank you for your registration.</p>
   <p lang="en">To complete the subscription process, please click the link in the email we just sent you.</p>
  </div>
  <div class="contact-thanks-dialog-button-bar">
   <p lang="nl"><a class="button" href="#">Sluiten</a></p>
   <p lang="en"><a class="button" href="#">Close</a></p>
  </div>
 </div>
</div>

</body>

{% include tail.html %}
