---
id: portfolio
---

{% include head.html portfolio_section=page.title %}

 <article class="portfolio">
  {% for photo in page.portfolio %}
  <div id="img{{ forloop.index }}" class="caroussel{% if forloop.first %} selected{% endif %}">
   <img src="/portfolio/{{ page.portfolio_folder }}/{{ photo.photo | replace:' ','%20' }}" draggable="false"/>
   {% if photo.caption %}<p class="caption"><span>{{ photo.caption | newline_to_br }}</span></p>{% endif %}
  </div>
  {% endfor %}
  <div class="navigate previous"><i class="fa fa-chevron-left" aria-hidden="true"></i></div>
  <div class="navigate next"><i class="fa fa-chevron-right" aria-hidden="true"></i></div>
 </article>

 <script>
    (function (document) {
       var $caroussel = document.querySelectorAll('.caroussel');
       var $next = document.querySelector('.navigate.next');
       var $previous = document.querySelector('.navigate.previous');

       $next.addEventListener('click', selectNext);
       $next.addEventListener('touchstart', handleTouchStart, false);
       $next.addEventListener('touchmove', handleTouchMove, false);
       $next.addEventListener('touchend', handleTouchEnd, false);
       $previous.addEventListener('click', selectPrevious);
       $previous.addEventListener('touchstart', handleTouchStart, false);
       $previous.addEventListener('touchmove', handleTouchMove, false);
       $previous.addEventListener('touchend', handleTouchEnd, false);

       var startX, startY;

       for (var i = 0; i < $caroussel.length; i++) {
         $caroussel[i].addEventListener('click', toggleFullScreen);
         $caroussel[i].addEventListener('touchstart', handleTouchStart, false);
         $caroussel[i].addEventListener('touchmove', handleTouchMove, false);
         $caroussel[i].addEventListener('touchend', handleTouchEnd, false);
       }

       function toggleFullScreen() {
         var container = document.querySelector('.portfolio');
         container.classList.toggle('full-screen');
       }

       function handleTouchStart(e) {
         // fade:
         var selectedImg = document.querySelector('.caroussel.selected');
         selectedImg.style.transition = 'none';
         // next/prev:
         startX = e.changedTouches[0].screenX;
         startY = e.changedTouches[0].screenY;
	 e.preventDefault();
         return false;
       }

       function handleTouchMove(e) {
	 // fade:
	 var selectedImg = document.querySelector('.caroussel.selected');
	 var width = window.innerWidth * 1.2;
	 var height = window.innerHeight * 1.2;
	 var endX = e.changedTouches[0].screenX;
	 var endY = e.changedTouches[0].screenY;
	 selectedImg.style.opacity = Math.max(1.0 - Math.max((Math.abs(endX - startX) / width), (Math.abs(endY - startY) / height)), 0.3);
	 e.preventDefault();
         return false;
       }

       function handleTouchEnd(e) {
	 var dWidth = window.innerWidth / 6;
	 var dHeight = window.innerHeight / 6;
	 var endX = e.changedTouches[0].screenX;
	 var endY = e.changedTouches[0].screenY;
         if (startX === endX && startY === endY) {
           toggleFullScreen();
         } else if ((startX - endX > dWidth) || (startY - endY > dHeight)) {
	   selectNext();
	 } else if ((endX - startX > dWidth) || (endY - startY > dHeight)) {
	   selectPrevious();
	 }
	 e.preventDefault();
         return false;
       }

       function unselect() {
	 var selectedImg = document.querySelector('.caroussel.selected');
	 selectedImg.style.opacity = '';
	 selectedImg.style.transition = '';
	 selectedImg.classList.remove('selected');
	 return selectedImg;
       }

       function selectNext() {
	 var selectedImg = unselect();
	 if (selectedImg.nextElementSibling.classList.contains('caroussel')) {
	   selectedImg.nextElementSibling.classList.add('selected');
	 } else {
	   selectedImg.parentElement.firstElementChild.classList.add('selected');
	 }
       }

       function selectPrevious() {
	 var selectedImg = unselect();
	 if (selectedImg.previousElementSibling) {
	   selectedImg.previousElementSibling.classList.add('selected');
	 } else {
	   var last = selectedImg.parentElement.lastElementChild;
	   while (!last.classList.contains('caroussel')) {
             last = last.previousElementSibling;
           }
           last.classList.add('selected');
	 }
       }
     })(document);
 </script>

{% include tail.html %}

