
{% include head.html %}

<body>

{% include header.html %}

<article class="page page-portfolio-overview"><!--
  {% for category in page.categories %}

    --><div class="portfolio-category full-height" style="background-image: url({{ category.photo}}); background-position-y: 30%;">
      <h2>{{ category.name }}</h2>
      <p><a lang="nl" href="{{  category.link }}">Bekijk</a><a lang="en" href="{{  category.link }}">View</a></p>
    </div><!--

  {% endfor %}
--></article>

{% include footer.html %}

</body>

{% include tail.html %}
