---
---

{% include head.html portfolio_section=page.title %}

 <article class="portfolio">
  <div>
  {% for photo in page.portfolio %}
   <div id="img{{ forloop.index }}" class="caroussel{% if forloop.first %} selected{% endif %}" style="background-image: url('/portfolio/{{ page.portfolio_folder }}/{{ photo.photo | replace:' ','%20' }}')"/>
    {% if photo.caption %}<p class="caption"><span>{{ photo.caption | newline_to_br }}</span></p>{% endif %}
   </div>
  {% endfor %}
  </div>
  <div class="thumbnails">
  {% for photo in page.portfolio %}
   <img rel="img{{ forloop.index }}" src="/thumbs/{{ page.portfolio_folder }}/{{ photo.photo | replace:' ','%20' }}" alt="{{ photo.caption }}" draggable="false"/>
  {% endfor %}
  </div>
 </article>

 <script>
    (function (document) {
       var $caroussel = document.querySelectorAll('.caroussel');
       var $thumbnails = document.querySelectorAll('.thumbnails img');

       for (var i = 0; i < $thumbnails.length; i++) {
	 $thumbnails[i].addEventListener('click', function() {
	   var selectedImg = document.querySelector('.caroussel.selected');
	   var id = this.getAttribute('rel');
	   if (selectedImg) {
	     selectedImg.classList.remove('selected');
	   }
	   document.getElementById(id).classList.add('selected');
	 });
       }

       var startX;

       for (var i = 0; i < $caroussel.length; i++) {
         $caroussel[i].addEventListener('touchstart', function (e) {
           // fade:
           var selectedImg = document.querySelector('.caroussel.selected');
           selectedImg.style.transition = 'none';
           // next/prev:
	   startX = e.changedTouches[0].screenX;
	 });

         $caroussel[i].addEventListener('touchmove', function (e) {
           // fade:
           var selectedImg = document.querySelector('.caroussel.selected');
           var width = document.body.clientWidth * 1.2;
           var endX = e.changedTouches[0].screenX;
           selectedImg.style.opacity = 1.0 - (Math.abs(endX - startX) / width);
           // next/prev:
	   e.preventDefault();
	 });

         $caroussel[i].addEventListener('touchend', function (e) {
           // fade:
           var selectedImg = document.querySelector('.caroussel.selected');
           selectedImg.style.opacity = '';
           selectedImg.style.transition = '';
           // next/prev:
           var delta = document.body.clientWidth / 10;
           var endX = e.changedTouches[0].screenX;
	   selectedImg.classList.remove('selected');
	   if (endX - startX > delta) {
	     if (selectedImg.previousElementSibling) {
	       selectedImg.previousElementSibling.classList.add('selected');
	     } else {
	       selectedImg.parentElement.lastElementChild.classList.add('selected');
	     }
	   } else if (startX - endX > delta) {
	     if (selectedImg.nextElementSibling) {
	       selectedImg.nextElementSibling.classList.add('selected');
	     } else {
	       selectedImg.parentElement.firstElementChild.classList.add('selected');
	     }
	   } else {
	     selectedImg.classList.add('selected');
	   }
	 });
       }
     })(document);
 </script>

{% include tail.html %}

